<div style="background-color: #3fca86;">
<ul class="nav justify-content-center static-bottom pt-5 pb-5" style="background-color: #3fca86;">
  <li class="nav-item" style="color:white;">
    <%= link_to 'Home', root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'About', home_about_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact', home_contact_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'FAQ', home_faq_path, class:"nav-link" %>
  </li>
</ul>


<div class="container pb-5" style="text-align:center; color: white;">
  <p>Copyright ©2021 MediantRX. All Rights Reserved.</p>
</div>

</div>