<div style="background-color: #b74646;">
<p class="pt-2 pb-2" style="color: white; text-align:center; font-size: 1.5em;">
    <strong>Healthcare Providers & Workers DISCOUNT Program - </strong> <%= link_to 'LEARN MORE', home_discountprogram_path, class:'alert-link' %>
</p>
</div>