<div style="background-color: #3fca86;">
<p class="pt-2 pb-2" style="color: #c63b3b; text-align:center;">
    <strong>Healthcare Providers & Workers DISCOUNT Program - </strong> <%= link_to 'LEARN MORE', home_discountprogram_path, class:'alert-link' %>
</p>
</div>