<div style="background-color: #3fca86;">
<p class="pt-2 pb-2" style="color:white; text-align:center;">
    Looking to purchase this product or become a business associate? <%= link_to 'LEARN MORE', home_contact_path, class:'alert-link' %>
</p>
</div>