<div style="background-color: #3fca86;">
<p class="pt-2 pb-2" style="color:white; text-align:center;">
    ActivePure is safe, proven, effective, and certified. <%= link_to 'LEARN MORE', home_contact_path, class:'alert-link' %>
</p>
</div>