<div class="container w-75">
<div class="row">
    <p class="pb-5 pt-3" style="text-align: center;"><h1>MEDIANT INC.</h1></p>
    <div class="col-12 pt-3 pb-5">
        <p>Based in California, USA, Mediant Inc. is a healthcare company specializing in Management Services,
Consulting, Marketing, Branding and Sales &amp; Distribution.</p>
        <p>Our team is comprised of healthcare industry professionals with vast and deep experience and
knowledge in different aspects of healthcare services and product delivery.</p>
        <p>We partner and do joint ventures only with reputable companies driven by the same belief and goals
with primary focus on product credibility and client satisfaction.</p>
        <p>Our partners are both domestically and internationally based which gives us the widest possible
network.</p>
        <p>We work and engage closely and strategically with healthcare providers and facilities such as Primary
and Specialty Clinics, Medical Groups, IPAs, Hospitals, Skilled Nursing and Adult Residential Facilities,
Ancillary Services providers such as Laboratories, Outpatient and Urgent Care centers and other
healthcare services entities to achieve the common goal of effective and efficient provision of care and
services to all our clients.</p>
    </div>
</div>
</div>