<div class="container-fluid align-items-center pb-5 pt-5" style="background: url(<%= asset_path 'head-bg-01.png' %>); text-align: center; color: black;">
    <h1>Questions about ActivePure?</h1>
    <p><h4>
        We are here to help! Please fill out the form below and we will get back to 
        you as soon as possible. Thank you!
    </h4></p>
</div>


<div class="container mx-auto pb-5">
    <div class="row w-50 pt-5 mx-auto">

            <form action="mailto:info@mediantrx.com" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col">
                    <input type="text" class="form-control" placeholder="First name" name="name" aria-label="First name" required>
                    </div>
                    <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" name="name" aria-label="Last name" required>
                    </div>
                </div>

                <input type="email" class="form-control" placeholder="Email Address" name="email" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                </div>
                
                <div class="pb-3 pt-3">
                <input type="text" class="form-control" placeholder="Phone Number" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>

                <input type="text" class="form-control" placeholder="Company" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" >

                <div class="mb-3 mt-3">
                    <select class="form-select" aria-label="Default select example">
                    <option selected>What are you inquiring about?</option>
                    <option value="1">Product Purchase</option>
                    <option value="2">Business Associate</option>
                    <option value="3">General Inquiry</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
    </div>
</div>