<div class="p-5 text-center bg-image shadow-sm" style="background: url(<%= asset_path 'cv-hero-image.jpg' %>);">
  <div class="container pt-4 pb-4 w-75">
    <div class="d-flex justify-content-center align-items-center h-100">
    
      <div style="color: black;">
        <h2 class="mb-3">
        The Only Technology Available in Products Proven to Reduce over 99.9% of the Virus that Causes COVID-19 
        on Both Surfaces and In the Air.
        </h2>
      </div>

    </div>
  </div>
</div>

<!-- Section 1 -->
<div class="container w-75">
  <div class="row align-items-center pb-5 pt-5">

    <div class="col">
      <p>
        The Aerus Pure & Clean and Vollara Air & Surface Pro have been scientifically proven to Reduce
        airborne SARS-CoV-2 novel coronavirus in the air.
      </p>
      <p>
        <ul>
          <li>ActivePure Technology was tested on live SARS-CoV-2 virus, not proxy or surrogate strains
          like many competing technologies use</li>
          <li>Proven reduction rate of over 99.9% of airborne SARS-CoV-2 within 3 minutes</li>
          <li>Tests completed in partnership with a BViosafety Level 4 and Biosafety Level 3 combination
          lab team, following strict FDA protocols</li>
        </ul>
      </p>
    </div>

    <div class="col product-image-1" style="text-align: center;">
    <%= image_tag 'active-product-1.jpg', class:'covid-tab-product-1' %>
    </div>

  </div>
</div>


<!-- Section 2 -->
<div class="container w-75">
  <div class="row align-items-center pb-1 pt-5" style="text-align: center;">
    <div>
      <h3>

      
      <p>
        ActivePure vs SARS-CoV-2 (the virus that causes COVID-19)
        </p>
        </h3>
        <p class="fs-6">
          Testing completed in August 2020 (surface) and December 2020 (airborne) has shown remarkable 
          levels of reduction in the virus that causes COVID-19.
        </p>
      
      
    </div>
  </div>
  
  <div class="row pt-3 pb-5">
    <div class="col">
      <%= image_tag 'covid-chart-1.png', class: 'covid-chart' %>
    </div>
    <div class="col">
      <%= image_tag 'covid-chart-2.png', class: 'covid-chart' %>
    </div>
  </div>

  <div class="row pt-3 pb-5">
    <h4>How Does It Work?</h4>
    <p>
    Units with ActivePure Technology pull free oxygen and water molecules in the air through ActivePure's 
    patented honeycomb matrix. The technology creates powerful oxidizers, known as ActivePure Molecules, 
    that are then released back into the room, where they neutralize DNA and RNA viruses including SARS-CoV-2 
    (novel coronavirus), Swine Flu (H1N1), Avian Bird Flu (H5N8), Hepatitis A (HAV) and MS2 bacteriophage, 
    regardless of their size, on surfaces and in the air. 
    </p>

    <p class="pb-3">
    <h4>Safe. Proven. Effective. Certified</h4>
    </p>
    
    <div class="col">
      <ul>
        <li>Continuous disinfection 24/7/365</li>
        <li>Affordable</li>
        <li>Free-Standing/Portable</li>
        <li>Plug & purify</li>
        <li>No chemicals or Ozone</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>No byproducts</li>
        <li>Works quickly and quietly</li>
        <li>Safe to use in occupied spaces</li>
        <li>Works in real time</li>
      </ul>
    </div>
  </div>

</div>


<div class="container pt-5 pb-5 w-75">
  <div class="row align-items-center">
    <div class="row pb-3">
      <h4>ActivePure Is Proven Against a Wide Range of Pathogens</h4>
    </div>
    <div class="col" style="text-align: left;">
      <ul>

        <li>SARS-CoV-2</li>
        <li>Staphylococcus Aureus</li>
        <li>Aspergillus niger endospores (toxic black mold surrogate)</li>
        <li>H1N1 Influenza (Swine Flu)</li>
        <li>H5N8 Influenza (Bird Flu)</li>
        <li>MRSA</li>
        <li>Bacillus globigii (C. difficile & anthrax surrogate)</li>
        <li>MS2 Bacteriophage - RNA Virus</li>
        <li>Staphylococcus epidermidis (Gram +)</li>
        <li>PhiX-174 - DNA Virus</li>
        <li>Erwinia Herbicola (Gram -)</li>

      </li>
    </div>
    <div class="col" style="text-align: left;">
      <ul>

        <li>Listeria monocytogenes</li>
        <li>Murine Norovirus</li>
        <li>E. Coli</li>
        <li>Candida auris (fungus)</li>
        <li>Botrytis cinerea (fungus)</li>
        <li>Sclerotinia sclerotiorum (fungus)</li>
        <li>Legionella pneumophila (bacteria)</li>
        <li>Aspergillus versicolor (fungus)</li>
        <li>Clostridium difficile (endospore)</li>
        <li>Salmonella enterica (bacteria)</li>

      </ul>
    </div>
  </div>
</div>