<!--headline text-->
<div class="container w-75 align-items-center pt-5 pb-5" style='text-align: center;'>
    <p><h1 style="color: #338fc4">
        Healthcare Providers & Workers
    </h1></p>
    <p><h1 style="color: #ff4848">
        Special Discount Program
    </h1></p>
</div>

<!--section 1-->
<div class='container w-75 pt-5 pb-5'>
    <div class="row align-items-center">
        <div class="col">
            <ul style='font-size: 1.5em;'><strong>
                <li>Doctors</li>
                <li>Nurses</li>
                <li>Front & Back Office Staff</li>
                <li>Facility Caregivers</li>
                <li>Hospital Staff</li>
                <li>Clinic Staff</li>
                </strong>
            </ul>
        </div>
        <div class="col">
            <p> We Fully support and care about our Healthcare Providers and Workers who serve not only
            on the frontlines but more importantly the daily caregiving of all our well-being.
            </p>
            <p> In hospitals, clinics, nursing and residential care facilities, they risk their lives
            and that of their loved ones fighting this dreaded virus and all the other diseases affecting
            all of us.
            </p>
            <p> That's why we have this Special Program with the goal of being able to help protect
            and keep them safe when performing these heroic tasks.
            </p>
        </div>
    </div>
</div>

<div class="container w-75 pb-5">
    <div class="row align-items-center" style="text-align: center;">
        <p><h2 style="color: #ff4848"><strong>We salute YOU our modern day Heroes!</strong></h2></p>
        <p><b>Email or Call us now for details and special pricing.</b></p>
        <p><b>Tel. 1 (800) 633-0853</b></p>
        <p><b>Email. info@mediantrx.com</b></p>
    </div>
</div>