<div class="container w-75 pt-5 pb-5">
    <div class="row align-items-center">
        <p style="text-align: center;">
            <h2>ActivePure Is the Only Technology That Meets ALL of the Surgeon General's Requirements</h2>
        </p>
        <p style="text-align: center;">
        Inspired by the Surgeon General, we have put together questions that focus on safety, effectiveness, and quality.
        </p>
        <div class="col-sm">
            <%= image_tag 'faq1' %>
        </div>
        <div class="col-sm">
            <%= image_tag 'faq2' %>
        </div>
    </div>
</div>