<h1><u>Styles Cheat Sheet</u></h1>

<br>
<br>
<h3>Colors</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Colors</th>
      <th scope="col">RGB</th>
      <th scope="col">HSL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">NavBar</th>
      <td>#3fca86</td>
      <td>63, 202, 134</td>
      <td>151, 69%, 52%</td>
    </tr>
    <tr>
      <th scope="row">Footer</th>
      <td>#3fca86</td>
      <td>63, 202, 134</td>
      <td>151, 69%, 52%</td>
    </tr>
    <tr>
      <th scope="row">BG highlight</th>
      <td>#e3fcef</td>
      <td>227, 252, 239</td>
      <td>151, 10%, 94%</td>
    </tr>
  </tbody>
</table>