<div class="container w-75">
    <div class="row align-items-center pt-5 pb-5">
        <div class="container-fluid" style="text-align: center;">
            <h2>THREE TECHNOLOGIES, TWO PHASES, ONE POWERFUL SOLUTION</h2>
        </div>
    </div>
    <div class="row align-items-center pt-3 pb-5">
        <div class="col" style="text-align: justify;">
            <h5>Phase 1: Patented ActivePure Technology</h5>
            <p>ActivePure’s patented solution first creates protective molecules that actively combat airborne 
            and surface pathogens. These ActivePure® Molecules are created continuously to fill indoor spaces 
            where they seek out and reduce any pathogens that enter.</p>
        </div>
        <div class="col" style="text-align: justify;">
            <h5>Phase 2: Ionization + HEPA Filter</h5>
            <p>Then, through ionization, ActivePure® simultaneously charges pathogens causing them to attract to 
            one another, enlarging to a size that can be trapped by the HEPA filter. ActivePure® Molecules then 
            recycle back through the unit and inactivate any trapped pathogens. </p>
        </div>
    </div>
</div>

<!--Videos-->
<div class="container w-75">
    <div class="row align-items-center pt-5 pb-5" style="text-align: center;">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="694" height="390" src="https://player.vimeo.com/video/561121497?h=3c5fbedd6f&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <%# <div class="row align-items-center pt-5 pb-5" style="text-align: center;">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="694" height="390" src="https://www.youtube.com/embed/ub4Va9ebyK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row align-items-center pt-5 pb-5" style="text-align: center;">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="694" height="390" src="https://www.youtube.com/embed/L6poiH8_PEk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div> %>
</div>

