<!-- Header image with button-->
<div class="p-5 text-center bg-image shadow-sm" style="background: url(<%= asset_path 'head-bg-01.png' %>);">
  <div class="container pt-4 pb-4 w-75">
    <div class="d-flex justify-content-center align-items-center h-100">
    
      <div style="color: dark">
        <h2 class="mb-3">
        Back to School. Back to Business. Back to Life.
        </h2>
        <a class="btn btn-lg" style="background-color: #3fca86; color: white;" href="#" role="button">Learn More</a>
      
      </div>
    </div>
  </div>
</div>

<!--Content section 1-->
<div class="container w-75">
<div class="row align-items-center">
  <div class="pb-5 pt-5" style="text-align: center;">
    <p><h1>The Only Technology Available in Products Proven to Reduce over 99.9% of the Virus that Causes COVID-19 
    on Both Surfaces and In the Air.
 </p></h1>
 <p class="fs-6">
    ActivePure does not replace the need to follow CDC guidance and should be used 
    as a complementary technology.
 </p>
  </div>
  <div class="col" style="text-align: center;">
    <h1><i class="bi bi-shield-fill-check" style="color: #7bcfb8"></i></h1>
    <p><h4>An FDA Cleared Device</h4></p>
  </div>
  <div class="col" style="text-align: center;">
    <h1><i class="bi bi-house-fill" style="color: #7bcfb8"></i></h2>
    <p><h4>Safe for people and pets</h4></p>
  </div>
  <div class="col" style="text-align: center;">
    <h1><i class="bi bi-clock-fill" style="color: #7bcfb8"></i></h1>
    <p><h4>Works in real time, 24/7</h4></p>
  </div>
  <div class="col" style="text-align: center;">
    <h1><i class="bi bi-stars" style="color: #7bcfb8;"></i></h1>
    <p><h4>Disinfects surfaces and air</h4></p>
  </div>
</div>

<div class="container pt-5 pb-5 w-75" style="text-align: center;">
<div class="row align-items-center">
  <div class="col">
      <p>ActivePure Technology is proven to neutralize pathogens, including the virus that causes 
      COVID-19, on surfaces and in the air. ActivePure does not replace the need to follow CDC guidance 
      and should be used as a complementary technology. Our Medical Guardian is cleared by the FDA as a 
      Class II Medical Device; and now we are making this same technology available to every business, 
      hospital, public space, school, and home in America.</p>
  </div>
</div>
</div>
</div>

<!--Content section 2-->

<div style="background-color: #f7f7f7;">
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">

    <div class="col section-2-p">
      <p><h2>Make Every Indoor Space Safer.</h2></p>
      <p>ActivePure's Proactive Pathogen Defense™ continuously creates oxidizing molecules that significantly 
      reduces viruses, bacteria, odors, and volatile organic compounds - both on surfaces and in the air. ActivePure 
      does not replace the need to follow CDC guidance and should be used as a complementary technology.</p>

      <p>In independent third-party laboratory tests, ActivePure has been proven to reduce up to 99.99% of pathogens 
      including SARS-CoV-2 (the virus that causes COVID-19), Avian influenza, E.Coli, MRSA, Norovirus, Staph bacteria, 
      Candida, Swine Flu, Hepatitis, Legionella, and more.</p>
      <p>
      <a class="btn btn-lg" style="background-color: #3fca86; color: white;" href="#" role="button">Learn More</a>
      </p>
    </div>

    <div class="col" style="text-align:center;">
      <%= image_tag 'percent-01.png' %>
    </div>
  
</div>
</div>
</div>
<!--Content section 3-->

<div>
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">

    <div class="col open-business" style="text-align:center;">
      <%= image_tag 'open-business.jpg' %>
    </div>
    <div class="col">
      <p><h2>Reopening Businesses. Reuniting Community. Protecting Lives.</h2></p>
      <p><h5>PROACTIVE PATHOGEN DEFENSE</h5></p>
      <p>Unlike passive air filters, purifiers & other systems, ActivePure proactively seeks 
      out pathogens, continuously protecting our homes, schools, restaurants, factories, arenas, and any indoor space.</p>

      <p><h5>HOSPITAL-GRADE TECHNOLOGY, AVAILABLE FOR HOMES</h5></p>
      <p>Developed to medical grade standards and relied upon in Acute 
      Care settings like the Cleveland Clinic, ActivePure is now available for everyone, in every setting.
      </p>
    </div>
    
  
</div>
</div>
</div>

<!--Content section 4-->

<div style="background-color: #f7f7f7;">
<div class="container pt-5 pb-5 w-50">
<div class="row align-items-center">


    <div class='container pb-5' style="text-align:center;">
      <h2>We Protect All Indoor Spaces. Which Do You Need to Protect Today?</h2>
    </div>

    <div class="container pb-5" style="text-align:center;">
      <h4>Discover how ActivePure can help you live fully with confidence.</h4>
    </div>

    <div class="container pb-3" style="text-align:center;">
      <a class="btn btn-lg" style="background-color: #3fca86; color: white;" href="#" role="button">Learn More</a>
    </div>
    
  
</div>
</div>
</div>