<!-- Header image with button-->
<div class="p-5 text-center bg-image" style=" background: url(<%= asset_path 'AirBanner.jpg' %>); height: 30vh;">
    
  <div class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
    
      <div class="text-white">
      <br><br><br><br>
        <h2 class="mb-3">
        Back to School.
        Back in Business.
        Back to Life.
        </h2>
        <a class="btn btn-lg" style="background-color: #3fca86; color: white;" href="#!" role="button">Learn More</a>
      
      </div>
    </div>
  </div>
</div>
<!--Content section 1-->
<br>
<div class="container" style="height: 25vh; text-align: center;">
<div class="row align-items-center">
  <div class="col">
    <br>
    <br>
    <br>
    <p><h4>ActivePure Technology is proven to neutralize pathogens1, including the virus that causes 
    COVID-19, on surfaces and in the air. ActivePure does not replace the need to follow CDC guidance 
    and should be used as a complementary technology. Our Medical Guardian is cleared by the FDA as a 
    Class II Medical Device; and now we are making this same technology available to every business, 
    hospital, public space, school, and home in America.</h4></p>
  </div>
</div>
</div>
</div>

<!--Content section 2-->

<div>
<div class="container" style="height: 25vh;">
<div class="row align-items-center">
  <div style="text-align: center;">
  <br>
    <p><h3>ActivePure powers the new normal by providing continuous and proactive surface and air disinfection for all indoors spaces.
 </p></h3>
  </div>
  <div class="col">
    <h1><i class="bi bi-shield-fill-check" style="color: #3fca86"></i></h1>
    <p><h4>FDA Cleared Device</h4></p>
  </div>
  <div class="col">
    <h1><i class="bi bi-house-fill" style="color: #3fca86"></i></h2>
    <p><h4>Safe for people and pets</h4></p>
  </div>
  <div class="col">
    <h1><i class="bi bi-clock-fill" style="color: #3fca86"></i></h1>
    <p><h4>Works in real time, 24/7</h4></p>
  </div>
  <div class="col">
    <h1><i class="bi bi-stars" style="color: #3fca86"></i></h1>
    <p><h4>Disinfects surfaces and air</h4></p>
  </div>
</div>
</div>
</div>