<h1>HOME</h1>    

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('media/img/landing-banner.jpg');
      height: 400px;">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Heading</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

<div class="container" style="background-color:grey;">
  <div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>