<!-- Header image with button-->
<div class="p-5 text-center bg-image" style=" background: url(<%= asset_path 'AirBanner.jpg' %>); height: 30vh;">
    
  <div class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
    
      <div class="text-white">
      <br><br><br><br>
        <h2 class="mb-3">
        Back to School.
        Back in Business.
        Back to Life.
        </h2>
        <a class="btn btn-lg" style="background-color: #3fca86; color: white;" href="#!" role="button">Learn More</a>
      
      </div>
    </div>
  </div>
</div>

<!--Content section 1-->
<br>
<div class="container" style="background-color:grey;">
<div class="row align-items-center">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
</div>
</div>
