<div class="container w-75">
    <div class="row align-items-center pt-5 pb-5">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'DeborahBirx.png' %>
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title" style="text-align: center;">ACTIVEPURE Technology names Former WHITE HOUSE Corona Virus Coordinator 
                    as Chief Scientific and Medical Advisor.</h5>
                <a href="https://dallasinnovates.com/activepure-technologies-names-a-former-white-house-coronavirus-coordinator-as-a-chief-advisor/" target="_new" class="btn btn-primary">View Article</a>
            </div>
        </div>
    </div>
</div>