<div class="container w-75 pt-5 pb-5">
    <div class="row align-items-center">
        <div class="col">
            <div class="pb-5">
            <p><h1>PURE & CLEAN</h1></p>
            </div>
                <p>
                    <h5>BENEFITS</h5>
                </p>
            <p>
                <ul>
                    <li>ActivePure Technology destroys over 99% of all surface and airborne contaminants</li>
                    <li>Reduces airborne contaminants and allergens that can trigger asthma and allergy symptoms</li>
                    <li>Freshens air and removes odors in otherwise stale-prone environments</li>
                    <li>Removes dirt and dust from the air to make cleaning easier</li>
                    <li>Portable, no installation required</li>
                    <li>Destroys VOC's, smoke and odors</li>
                </ul>
            </p>
            <p>
                <p>
                    <h5>HOW IT WORKS</h5>
                </p>
                <ul>
                    <li>Our proprietary ActivePure Technology uses light waves and a catalytic process to produce
                    super oxide ions and hydro peroxides that destroy contaminants in the air and on surfaces</li>
                    <li>Features a high intensity UVC light that makes use of the same oxidation and ionizing properties
                    of light as naturally occuring sunlight</li>
                    <li>Certified Space Technology continuously protects and purifies the environment</li>
                    <li>Proven effective in independent studies against bacteria, viruses, mold and fungi in the air and on surfaces</li>
                    
                </ul>
            </p>
            <p>
                <p>
                    <h5>UNIQUE FEATURES</h5>
                </p>
                <ul>
                    <li>Positive and Negative Multipoint and RF Ion Generation</li>
                    <li>Five Speed Fan</li>
                    <li>LCD Display</li>
                    <li>Maintenance Reminders</li>
                    <li>Replaceable ActivePure Cells</li>
                    <li>Removable Rear Grill</li>
                    <li>Universal Power Supply with cords</li>
                    <li>HEPA and Activated Carbon Filters</li>
                </ul>
            </p>
            <p>
                <p>
                    <h5>TARGET CUSTOMER</h5>
                </p>
                <ul>
                    <li>Medical facilities, nursing homes, schools or any facility with indoor air quality concerns</li>
                    <li>People who suffer from allergies and asthma</li>
                    <li>Those with sensitive immune systems</li>
                </ul>
            </p>
        </div>
        <div class="col">
            <p>
                <%= image_tag 'active-product-1.jpg', class:'pinfo-product-1' %>
            </p>
            <p>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Power Consumption</td>
                            <td>43 Watts</td>
                        </tr>
                        <tr>
                            <td>Recommended Treatment Space</td>
                            <td>250 sq. ft. to 3,000 sq. ft.</td>
                        </tr>
                        <tr>
                            <td>Input Voltage</td>
                            <td>100 ~ 240 VAC; 50/60 Hz external power supply; 43 Amps max</td>
                        </tr>
                        <tr>
                            <td>Normal Airflow Rate</td>
                            <td>40-60 CFM Fan, Washable electrostatic lint screen</td>
                        </tr>
                        <tr>
                            <td>ActivePure Cell</td>
                            <td>2 Included</td>
                        </tr>
                        <tr>
                            <td>Ozone Production</td>
                            <td>0.00 ppm with ozone-free replaceable ActivePure Cell</td>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td>10"H x 10"W x 12"D (25.4cm x 25.4cm x 30.48cm)</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>8 lbs (3.62 kg)</td>
                        </tr>
                        <tr>
                            <td>Operating Temperature</td>
                            <td>34F - 100F</td>
                        </tr>
                        <tr>
                            <td>Warranty</td>
                            <td>3 year limited warranty</td>
                        </tr>
                    </tbody>
                </table>
            </p>

        </div>
    </div>
</div>