<div class="container-fluid align-items-center pb-5 pt-5" style="background: url(<%= asset_path 'head-bg-01.png' %>); text-align: center; color: black;">
    <h1>PRODUCT REGISTRATION</h1>
</div>


<div class="container mx-auto pb-5">
<div class="row align-items-center justify-content-center">


            

            <form class="w-50 pt-5 pb-5">
                <div class="row mb-3">
                    <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
                    </div>
                    <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
                    </div>
                </div>

                <input type="text" class="form-control" placeholder="Company" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <br>
                <input type="email" class="form-control" placeholder="Email Address" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                </div>
                
                <div class="pb-3 pt-3">
                <input type="text" class="form-control" placeholder="Phone Number" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>

                <input type="text" class="form-control" placeholder="Model No." 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <div class="pb-3 pt-3">
                <input type="text" class="form-control" placeholder="Serial No." 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="pb-3">
                <input type="text" class="form-control" placeholder="Date of Purchase" 
                        id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">MM/DD/YYYY - ex. "04102021"
                        </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


</div>
</div>