<div>
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">

    <h2 class="mb-3" style="text-align: center;">
        Origins in NASA, Perfected by ActivePure.
        </h2>

    <div class="col">
      <p>The basis of our technology was created by NASA in 1990s for the Space Station. Our improvements to the 
        technology have increased efficacy without using Ozone (O3). For our advancements, we have been declared 
        Certified Space Technology and we are one of only 75 technologies that have been inducted into the Space 
        Technology Hall of Fame in the past 30 years.</p>
        <p>Drawing upon active processes found in nature, our Proactive Pathogen Defense is the only non-toxic 
        system also used in an FDA-cleared Class II Medical Device, that cleans the air continuously and that 
        is safe for people to breathe.</p>
        <p>
        Proactive Pathogen Defense has been instantly adopted by hospitals for use in operating and acute care rooms. 
        From the beginning, we knew that our technologies could save thousands of lives. And we are now making it 
        available for every home, business, and public space in America.
        </p>
    </div>

    <div class="col nasa-photo" style="text-align: center;">
        <%= image_tag 'Nasa-Logo.png' %>
    </div>

    <!-- Section 2 -->
    <div class="container pt-5 pb-5">
    <div class="row align-items-center">
    
    <div class="col" style="text-align:center;">
    <%= image_tag 'activepure-seal.png', class:'active-seal' %>
    </div>

    <div class="col section-2-p pb-5">
    <p><h2>Safe. Proven. Effective. Certified</h2></p>
    <p>Units with ActivePure Technology pull free oxygen and water molecules in the air through ActivePure's 
    patented honeycomb matrix. The technology creates powerful oxidizers, known as ActivePure Molecules, that 
    are then released back into the room, where they neutralize DNA and RNA viruses including SARS-CoV-2 (novel coronavirus), 
    Swine Flu (H1N1), Avian Bird Flu (H5N8), Hepatitis A (HAV) and MS2 bacteriophage, regardless of their size, 
    on surfaces and in the air.
    </p>
    </div>

    
    </div>


    <!-- Section 3 -->
    <div class="container pt-5 pb-5">
    <div class="row align-items-center">


    <div class="col section-2-p pb-5 pt-5">
    <p><h2>Make Every Indoor Space Safer.</h2></p>
    <p>Units with ActivePure Technology pull free oxygen and water molecules in the air through ActivePure's 
    patented honeycomb matrix. The technology creates powerful oxidizers, known as ActivePure Molecules, that 
    are then released back into the room, where they neutralize DNA and RNA viruses including SARS-CoV-2 (novel coronavirus), 
    Swine Flu (H1N1), Avian Bird Flu (H5N8), Hepatitis A (HAV) and MS2 bacteriophage, regardless of their size, 
    on surfaces and in the air.
    </p>

    <a class="btn btn-lg mt-5" style="background-color: #3fca86; color: white;" href="#" role="button">Learn More</a>
    </p>
    </div>

    <div class="col" style="text-align:center;">
    <%= image_tag 'active-product-1.jpg', class:"product-dimension" %>
    </div>
    </div>
    </div>

</div>
</div>
</div>