<!-- Section 1 -->
<div class="pt-5 pb-5 align-items-center" style="background: url(<%= asset_path 'technology-banner.png' %>);">
    <h2 class="mb-3" style="text-align: center; color: white;">
        Origins in NASA, Perfected by ActivePure.
        </h2>
</div>

<div>
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">


    <div class="col">
      <p>The basis of our technology was created by NASA in 1990s for the Space Station. Our improvements to the 
        technology have increased efficacy without using Ozone (O3). For our advancements, we have been declared 
        Certified Space Technology and we are one of only 75 technologies that have been inducted into the Space 
        Technology Hall of Fame in the past 30 years.</p>
        <p>Drawing upon active processes found in nature, our Proactive Pathogen Defense is the only non-toxic 
        system also used in an FDA-cleared Class II Medical Device, that cleans the air continuously and that 
        is safe for people to breathe.</p>
        <p>
        Proactive Pathogen Defense has been instantly adopted by hospitals for use in operating and acute care rooms. 
        From the beginning, we knew that our technologies could save thousands of lives. And we are now making it 
        available for every home, business, and public space in America.
        </p>
    </div>

    <div class="col nasa-photo" style="text-align: center;">
        <%= image_tag 'Nasa-Logo.png' %>
    </div>

</div>
</div>
</div>