<div class="container w-75" style="text-align: justify;">
    <div class="row align-items-center pt-5 pb-5">
        <h2>ActivePure Technologies Names Former White House Coronavirus Coordinator as Chief Advisor</h2>
        <p>Dr. Deborah Birx—one of the highest-ranking infectious disease experts in the world, who served 
        George W. Bush, Barack Obama, and Donald Trump—is ActivePure's new chief medical and scientific advisor. 
        She aims to assist the company in helping people return to their normal routines with ActivePure 
        Technology, which can destroy more than 99.9 percent of airborne COVID-19 viruses in three minutes.</p>
    </div>
    <div class='row align-items-center justify-content-center pt-1 pb-3'>
        <%= image_tag 'DeborahBirx.png', class:'dbirx-blog-image-01', alt:'Deborah Birx [Photo: ActivePure]' %>
    </div>
    <div class="row align-items center pt-5 pb-5">
        <p><h5>by Alex Edwards • Mar 15, 2021</h5></p>
        <p><h4>Esteemed physician, scientific researcher, and former White House Coronavirus Coordinator Deborah 
        Birx, M.D. is joining Dallas-based ActivePure Technologies as chief medical and scientific advisor.</p></h4>

        <p>Birx, regarded as one of the highest-ranking infectious disease experts in the world, has an array of 
        relevant experience. She has published more than 220 manuscripts in peer-reviewed journals and authored 
        nearly a dozen chapters in scientific publications. As a retired Army physician, who eventually rose to 
        colonel, she has served three presidents: George W. Bush, Barack Obama, and Donald Trump.</p>
        <p>During that time, she held the position of U.S. Global AIDS Coordinator for seven years, in which she 
        oversaw the President’s Emergency Plan for AIDS Relief. It is today known as the largest global health 
        program ever launched by a single nation, according to a statement.</p>
        <p>Birx’s appointment coincides with the news that she is joining the George W. Bush Institute in Dallas 
        as a fellow in global health.</p>
        <p>“As a globally recognized health care expert, we are fortunate to have Dr. Birx join our team,” said 
        Joe Urso, CEO of ActivePure Technologies. “We are at a pivotal moment with COVID-19. Americans want to 
        get back to work, back to school and back to normal, but we also want to be safe. The fastest and best 
        way to help keep people safe indoors is with ActivePure. Dr. Birx’s unique perspectives and experience 
        will help elevate our science-backed, medical-grade technology and bring it to all indoor spaces.”</p>
        <p>The announcement is especially timely given ActivePure’s work during the coronavirus pandemic.</p>
        <p>Founded in 1924, ActivePure is a global provider of active, continuous surface, and air purification 
        systems. Its nine brands include: Aerus Enterprise Solutions, activeTek Environmental, Aerus Global, 
        ActivePure Medical, ActivePure Technology, Allergy Buyers Club, Beyond by Aerus, The Pure Company, and Vollara.</p>
        <p>In December, the University of Texas Medical Branch confirmed that the company’s technology implemented 
        inside of two of its devices can destroy more than 99.9 percent of airborne COVID-19 viruses within three minutes.</p>
        <p>Originally designed for NASA, the patented ActivePure Technology is meant to proactively and continuously 
        minimize the number of contaminants on indoor surfaces and in the air. That includes viruses, bacteria, mold, 
        VOCs, and any other pathogens.</p>
        <p>ActivePure’s team calls it the “most powerful surface and air purification technology ever discovered that 
        is backed by science.” It was previously recognized by the Space Foundation as a first-of-its-kind surface 
        and air purifier originally developed for space, and was even inducted into the Space Technology Hall of Fame. </p>
        <p>Today, the company has more than 100 devices that contain ActivePure Technology, including portable, 
        installed, and hand-held units. Last year, for instance, the ActivePure Medical Guardian was cleared as 
        an FDA Class II Medical Device.</p>
        <p>The products are safe for use in occupied spaces, and can be deployed for commercial and residential
         applications—at healthcare and educational institutions, commercial and public facilities, and hospitality 
         locations.</p>
         <p>According to the company, the tech works like this: Special ActivePure Molecules are rapidly produced that
          destroy contaminants on contact, which reduces the risk of disease transmission, allergens, and DNA and RNA 
          viruses. This makes it “the only technology that works immediately, in real-time.”</p>
          <p>That’s a main reason why Dr. Birx decided to come on board—she “trusts and believes that ActivePure Technology 
          is the solution.”</p>
        <p>“I am pleased to be joining ActivePure Technologies, a company that provides a critical layer of protection 
        against this virus and other pathogens,” Birx said in a statement. “My work for ActivePure is a logical extension 
        of my 40-year career in science and public service. ActivePure is a company rooted in science, and I will be doing 
        my best to continue to save lives and ensure Americans are safe at school, with their families, at work and in recreation.”</p>

    </div>
</div>