<div class="container w-75" style="text-align: justify;">
    <div class="row align-items-center pt-5 pb-5">
        <h2>How to Protect Schools Against Pathogens Like Covid</h2>
    </div>
    <div class='row align-items-center justify-content-center pt-1 pb-3'>
        <%= image_tag '539493.jpg', alt:'Deborah Birx [Photo: ActivePure]' %>
    </div>
    <div class="row align-items center pt-5 pb-5">
        <p><h5>by Kenneth Moritsugu • May 20, 2021</h5></p>

        <p>The Centers for Disease Control and Prevention (CDC) recently updated its guidance on how the COVID virus spreads
         from person to person. The new language, which reflects a revision a week earlier by the World Health Organization,
         states that the primary way the disease is transmitted is through tiny droplets and aerosols that linger in interior spaces.</p>
        <p>The virus – and mutating strands of it – circulating in closed rooms among unmasked and unvaccinated people will 
        be a concern among public health officials moving forward. Even with an increase in vaccinations, the danger of interior 
        COVID spread will continue, especially in schools, where few children will receive shots in the near future.</p>
        <p>Ensuring students and teachers are safely back in schools full time in the fall, is a top priority for federal, 
        state, and local policymakers. Because of this focus, school administrators and facilities managers will need to consider 
        modifications and upgrades to their current ventilation systems over the next several months.</p>
        <p>Fortunately, the American Rescue plan, passed in March, is providing elementary and secondary schools with $122 
        billion to assist in reopening schools come August and September, and the Department of Education wants a portion 
        of the money to go to equipment that provides protection against COVID and other known pathogens.</p>
        <p>While these grants are generous, educators are at a loss. Despite a lack of expertise in public health, they have
         to sort out by purveyors of giant ventilation systems, an array of filters, ultraviolet light, ionization devices,
          and more. Considering the varied options, school administrators, as well as those responsible for elder and child 
          care, hospitals, office buildings, arenas, and other facilities –should consider several criteria when making this
           important investment:</p>
        <p>
            <ul class="container w-75">
                <li><strong>Does the technology inactivate the COVID virus, and is it proven effective against pathogens in 
                air and on surfaces?</strong> While improved ventilation systems can help, conventional air filters try to 
                trap pathogens but may miss a large proportion of virus-sized particles. Look for technologies with filters
                 that work at the viral level or deploy microscopic particles to search and destroy pathogens in the air and
                  on surfaces rather than just trying to filter them out.</li>
                <li><strong>Is it continuously active, and can it adapt to your specific spaces?</strong> Some air-cleaning 
                systems do not operate all the time because they draw too much power or are harmful to people in the room.
                 Continuously changing the air in a room is far superior to intermittent air exchange. All systems for large 
                 areas need to be specially designed and configured, so find a company that has both small devices and large,
                  as well as methods of retrofitting existing HVAC systems.</li>
                <li><strong>Is it safe to use in spaces occupied by people and pets?</strong> To use ultraviolet (UV) light 
                to deactivate COVID viruses, the light has to be so strong that it could damage the retina – which is why 
                surgical theaters are cleared when UV is utilized. Other systems, especially those using outdated version 
                of photocatalytic oxidation (PCO), generate ozone and toxic byproducts. Be sure to ask for data and evidence
                  that a system is safe.</li>
                <li><strong>Has the technology been cleared by the U.S. Food & Drug Administration (FDA)?</strong> Very few 
                air-cleaning systems have FDA clearance. Insist on technologies that do – and also meet EPA, OSHA, and state standards.</li>
                <li><strong>Has the system proven its effectiveness in real-world settings, and how does the manufacturer 
                 stand behind product claims with field testing and data?</strong> Proof in a testing lab is good, but proof
                  in real life is critical. Be sure to do the homework to confirm the device or technology can do what it claims.</li>
            </ul>
        </p>

        <p>Demand for equipment that can help mitigate and prevent the spread of COVID has exploded, but don’t buy in a panic. Ask the right questions and invest in the technologies that are best suited for the specific need, based on science and proven evidence Good choices made today can help keep students and others safe from COVID-19 and other viruses, bacteria, and molds.</p>
        

    </div>
</div>