/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 input[type=button] {
    background-color: #3fca86;
    color: white;
    border: none;
    border-radius: 3px;
 }

 .alert-link {
     color:white;
     text-decoration: none;
 }

 .nav-link {
    color: white;
 }

 .dropdown-item:hover {
    background-color: #e3fcef;
 }

.sticky-top {
   background-color: white;
}

.product-dimension {
   height: 30vh;
   width: 30vw;
}

.landing-99 {
   height: 30vh;
   width: 25vw;
}

.active-seal {
   height: 25vh;
   width: 22vw;
}

.ap-logo {
   height: 5vh;
   width: 20vh;
   text-align: center;
}

 /* MEDIA QUERIES */

 @media screen and (max-width: 500px) {
    .open-business {
       display: none;
    }

    .nasa-photo {
       display: none;
    }

    .product-dimension {
      height: 30vh;
      width: 60vw;
   }
 }