/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input[type=button] {
    background-color: #3fca86;
    color: white;
    border: none;
    border-radius: 3px;
 }

 .alert-link {
     color:white;
     text-decoration: none;
 }

 .nav-link {
    color: white;
 }

 .dropdown-item:hover {
    background-color: #e3fcef;
 }

.sticky-top {
   background-color: white;
}

.product-dimension {
   height: 30vh;
   width: 30vw;
}

.landing-99 {
   height: 30vh;
   width: 25vw;
}

.active-seal {
   height: 25vh;
   width: 22vw;
}

.ap-logo {
   height: 5vh;
   width: 20vh;
   text-align: center;
}

.footer-link {
   text-decoration: none;
   color: white;
}

.footer-ul {
   list-style-type: none;
}

.covid-tab-product-1 {
   height: 25vh;
   width: 25vh;
}

.fda-landing {
   height: 5vh;
   width: 12vh;
}

.nasa-landing {
   height: 5vh;
   width: 12vh;
}

.fda-cert-modal-body {
   height: 80vh;
   width: 50vw;
}

.ct-1-product {
   height: 8vh;
   width: 8vw;
}

.ct-1-approved-icon {
   height: 7vh;
   width: 7vw;
}

.ct-3-product {
   height: 30vh;
   width: 30vw;
}


/* SAFETY PAGE */
.safety-s2-seal{
   height: 20vh;
   width: 20vw;
}
.safety-s2-p1 {
   height: 20vh;
   width: 20vw;
}
.safety-s2-p2 {
   height: 20vh;
   width: 20vw;
}
.safety-s2-p3 {
   height: 20vh;
   width: 20vw;
}
.safetypage-p2 {
   height: 30vh;
   width: 40vw;
}
.safetypage-p4 {
   height: 20vh;
   width: 30vw;
}
.safetypage-p5 {
   height: 35vh;
   width: 40vw;
}
.safetypage-p6 {
   height: 25vh;
   width: 35vw;
}

/* SCIENTIFIC PROOF LOGOS */

.sp-a-logo {
   height: 7vh;
   width: 15vw;
}

.sp-mri-logo {
   height: 7vh;
   width: 15vw;
}

.sp-utmb-logo {
   height: 7vh;
   width: 15vw;
}

.sp-eh-logo {
   height: 10vh;
   width: 10vw;
}

.sp-cleveland-logo {
   height: 7vh;
   width: 15vw;
}

 /* MEDIA QUERIES */

 @media screen and (max-width: 500px) {
    .open-business {
       display: none;
    }

    .nasa-photo {
       display: none;
    }

    .product-dimension {
      height: 30vh;
      width: 60vw;
   }

   .product-image-1 {
      display: none;
   }

   .covid-chart {
      height: 40vh;
      width: 80vw;
   }

   .landing-99 {
      display: none;
   }


   /* SCIENTIFIC PROOF LOGOS - INSIDE MEDIA QUERIES */

   .sp-a-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-mri-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-utmb-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-eh-logo {
      height: 30vh;
      width: 30vw;
   }

   .sp-cleveland-logo {
      height: 10vh;
      width: 50vw;
   }
 }


 @media screen and (min-width: 1920px) {
   .safety-s2-seal{
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p1 {
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p2 {
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p3 {
      height: 10vh;
      width: 10vw;
   }
   .safetypage-p2 {
      height: 30vh;
      width: 40vw;
   }
   .safetypage-s2-container {
      width: 75vw;
   }
}
