@media screen and (max-width: 500px) {
    .hero-text-mobile {
       color: white;
       text-align: center;
    }
    .hero-space {
      display: none;
    }
    .hero-image-cover {
      background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));

    }
    .open-business {
       display: none;
    }

    .nasa-photo {
       display: none;
    }

    .product-dimension {
      height: 30vh;
      width: 60vw;
   }

   .product-image-1 {
      display: none;
   }

   .covid-chart {
      height: 40vh;
      width: 80vw;
   }
   .percent-landing {
      height: 10vh;
      width: 18vw;
   }
   
   .active-landing {
      height: 7vh;
      width: 30vw;
   }

   .pinfo-product-1 {
      height: 35vh;
      width: 60vw;
   }

   /* SCIENTIFIC PROOF LOGOS - INSIDE MEDIA QUERIES */

   .sp-a-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-mri-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-utmb-logo {
      height: 10vh;
      width: 50vw;
   }

   .sp-eh-logo {
      height: 30vh;
      width: 30vw;
   }

   .sp-cleveland-logo {
      height: 10vh;
      width: 50vw;
   }
   /*Safety page images*/
    .safety-s2-seal{
        height: 20vh;
        width: 35vw;
        padding-bottom: 25px;
    }
    .safety-s2-p1 {
        height: 20vh;
        width: 35vw;
        padding-bottom: 25px;
    }
    .safety-s2-p2 {
        height: 20vh;
        width: 35vw;
    }
    .safety-s2-p3 {
        height: 20vh;
        width: 35vw;
    }
    .safetypage-p2 {
        height: 25vh;
        width: 70vw;
    }
    .safetypage-p4 {
        height: 25vh;
        width: 70vw;
    }
    .safetypage-p5 {
        height: 25vh;
        width: 70vw;
    }
    .safetypage-p6 {
        height: 25vh;
        width: 70vw;
    }
 }

 @media screen and (min-width:1100px) and (max-width: 1499px) {
    .percent-landing {
       height: 10vh;
       width: 8vw;
    }
 }

 @media screen and (min-width: 1500px) {
   .pinfo-product-1 {
      height: 50vh;
      width: 35vw;
   }
   .percent-landing {
      height: 10vh;
      width: 7vw;
   }
 }

 @media screen and (min-width: 1920px) {
   .safety-s2-seal{
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p1 {
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p2 {
      height: 10vh;
      width: 10vw;
   }
   .safety-s2-p3 {
      height: 10vh;
      width: 10vw;
   }
   .safetypage-p2 {
      height: 30vh;
      width: 40vw;
   }
   .safetypage-s2-container {
      width: 75vw;
   }
   .landing-produt {
      height: 100%;
      width: 100%;
   }
   .ct-3-product {
      height: 40vh;
      width: 40vw;
   }
   .pinfo-product-1 {
      height: 50vh;
      width: 30vw;
   }

   /*landing page - section one with four logos "fda, nasa, activepure, and 99percentage*/
   .fda-landing {
      height: 5vh;
      width: 12vh;
   }
   
   .nasa-landing {
      height: 5vh;
      width: 12vh;
   }
   
   .percent-landing {
      height: 8vh;
      width: 6vw;
   }
   
   .active-landing {
      height: 6vh;
      width: 14vw;
   }

   /*Safety page images*/
   .safety-s2-seal{
      height: 15vh;
      width: 12vw;
   }
   .safety-s2-p1 {
      height: 15vh;
      width: 12vw;
   }
   .safety-s2-p2 {
      height: 15vh;
      width: 15vw;
   }
   .safety-s2-p3 {
      height: 15vh;
      width: 12vw;
   }
   .safetypage-p2 {
      height: 40vh;
      width: 40vw;
   }
   .safetypage-p4 {
      height: 30vh;
      width: 35vw;
   }
   .safetypage-p5 {
      height: 40vh;
      width: 40vw;
   }
   .safetypage-p6 {
      height: 35vh;
      width: 35vw;
   }
   
}

@media screen and (min-width: 2200px) {
   .fda-landing {
      height: 5vh;
      width: 12vh;
   }
   
   .nasa-landing {
      height: 5vh;
      width: 12vh;
   }
   
   .percent-landing {
      height: 12vh;
      width: 8vw;
   }
   
   .active-landing {
      height: 6vh;
      width: 12vw;
   }
}